/* Ajustes personalizados */

body {
  background: #f8f9fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
  font-weight: 700;
}

table td, table th {
  vertical-align: middle;
  text-align: center;
}

.btn-edit {
  color: #0d6efd;
  cursor: pointer;
  margin-right: 8px;
}

.btn-delete {
  color: #dc3545;
  cursor: pointer;
}


  footer.footer-dark {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: #232222;
    margin-top: 78px;
  }
  footer.footer-dark .footer-bottom {
    background-color: #0d0d0d !important; /* Un tono un poco más oscuro para la barra inferior */
    height: 50px;
  }